version: '3'
services:
  web:
    build:
      context: .
      target: deps
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - POSTGRES_URL=${POSTGRES_URL}
    volumes:
      - .:/app
      - /app/node_modules
      - ./uploads:/app/uploads
      - ./data:/app/data
